
      /*-----!!! Employee !!!-----*/
      .employees-container {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .employees-container .employee-container {
        padding: 0;
        margin-bottom: 25px;
      }
      .employee-container .employee {
        display: flex;
        background-color: #f2f4f7;
        border: 1px solid #dddddd;
        border-radius: 15px;
        margin: 0;
        padding: 25px;
      }
      .employee-container .employee > .picture {
        align-self: center;
        border-radius: 100%;
        width: 100%;
        height: auto;
        float: left;
        align-items: center;
      }
      .employee-container .employee > .picture img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
      .employee-container .employee > .description {
        align-self: center;
        text-align: left;
        color: #2b1e54;
      }
      .employee-container .employee > .description > .name {
        font-size: 24px;
        font-weight: 700;
      }
      .employee-container .employee > .description > .condition {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
      }
      .employee-container .employee > .description > .job-count {
        font-size: 14px;
        font-weight: 400;
      }
      @media (max-width: 575.98px) {
        .modal-content .zeta-navbar {
          border-bottom: 0;
          margin-bottom: 0;
        }
        .employee-container .employee {
          height: 550px;
        }
        .employee-container .employee > .picture {
          padding: 30px;
        }
        .employee-container .employee > .description {
          padding-top: 15px;
        }
      }
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) {
        .zeta-view {
          margin-top: 30px;
        }
        .employee-container .employee {
          min-height: 230px;
        }
        .employee-container .employee > .description > .name {
          width: 75%;
        }
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 768px) {
        .employee-container .employee > .description > .name {
          width: 65%;
        }
      }

      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) {
        .employee-container .employee > .description > .name {
          width: 70%;
        }
      }

      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) {
        .zeta-view {
          margin-top: 0;
        }
        .employee-container .employee > .description > .name {
          width: 80%;
        }
      }